:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    --spacing-200: 2.4rem;

    --border-radius: 20px;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--color-yellow);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray-950);
    background: var(--color-white);
    padding: var(--spacing-200);
    box-shadow: 8px 8px 0px 0px #000;
}


