:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    --spacing-50: 0.4rem;
    --spacing-100: 0.8rem;
    --spacing-150: 1.2rem;
    --spacing-200: 2.4rem;

    --border-radius: 20px;

    --font-bold: 800;
    --font-normal: 500;

    --font-size-heading: 2.4rem;
    --font-size-body: 1.4rem;
    --font-size-desc: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--color-yellow);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-normal);
    font-style: normal;
    font-size: var(--font-size-body);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray-950);
    background: var(--color-white);
    padding: var(--spacing-200);
    box-shadow: 8px 8px 0px 0px #000;
    max-width: 33.6rem;
}

.card .blog-image img {
    border-radius: 10px;
    width: 100%;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.card .category {
    font-weight: var(--font-bold);
    background-color: var(--color-yellow);
    padding: var(--spacing-100) var(--spacing-150);
    align-self: flex-start;
    border-radius: 4px;
    line-height: 1;
}

.card .author .name {
    font-weight: var(--font-bold);
}

.card .title {
    font-size: var(--font-size-heading);
    margin: 0;
    font-weight: var(--font-bold);
}

.card .description {
    margin: 0;
    font-size: var(--font-size-desc);
}

.card .author {
    display: flex;
    align-items: center;
    gap: var(--spacing-150, 12px);
}

.card .avatar img {
    width: 3.2rem;
    height: 3.2rem;
}


